:root {
    --light: #eee;
    --light-alt: #61759b;
    --dark: #131a26;
    --dark-alt: #202b3e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: var(--dark-alt);
    color: var(--light);
    cursor: default;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.item {
    cursor: pointer;
}

.item:hover {
    opacity: 0.75;
    transform: scale(101%);
}

table {
    margin-left: 5%;
    width: 80%;
}

th,
td {
    border-radius: 16px;
    border: 1px solid black;

    background-color: var(--light-alt);
    text-align: center;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.popup-panel {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-color: black;
}

.add-item-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    background-color: var(--light-alt);
    padding: 32px;
    border-radius: 16px;
}

.add-item-popup h3 {
    color: var(--dark);
    font-weight: 700;
    text-transform: uppercase;
}

.close-popup-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    color: var(--light);
    border-radius: 50%;
}

input {
    border: 0;
    border-radius: 16px;
    padding-left: 8px;
}

input.item-description-input {
    width: 40%;
}

.inspected-item {
    border: 1px solid black;
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

p.inspected-item {
    word-wrap: break-word;
}

button {
    cursor: pointer;
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    border: 1px solid black;
    background-color: var(--light-alt);
    color: var(--dark);
}

button:hover {
    opacity: 0.95;
    transform: scale(105%);
}

.delete-item-button,
.add-item-button {
    padding: 0;
    font-weight: 700;
}

.delete-item-button {
    background-color: maroon;
}

.add-item-button {
    background-color: darkgreen;
}

.delete-item-button:hover,
.add-item-button:hover {
    cursor: pointer;
    opacity: 0.75;
    transform: scale(102.5%);
}

.Welcome {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    align-items: center;
    justify-content: center;
}
